<meta charset="utf-8">

{% include seo.html %}

<link href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ '/feed.xml' | absolute_url }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">

<!-- http://t.co/dKP3o1e -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<script>
  var SeedAndDewConfig = {};
  (function() {
    SeedAndDewConfig['adClass'] = "snd-ad";
    /* * * DON'T EDIT BELOW THIS LINE * * */
    SeedAndDewConfig['projectId'] = '26c2c26d-725c-4a8c-a713-07f964d40e30';
    SeedAndDewConfig['loadStartTime'] = performance.now();
    SeedAndDewConfig['apiVersion'] = '2018-05-28'
    SeedAndDewConfig['sessionId'] = Math.random().toString(36).substring(2, 15);
    var snd = document.createElement('script');
    snd.type = 'text/javascript';
    snd.async = true;
    snd.src = 'https://www.seedanddew.com/static/embed.min.js';
    (document.getElementsByTagName('head')[0] ||
    document.getElementsByTagName('body')[0]).appendChild(snd);
  })();
</script>

<!-- For all browsers -->
<link rel="stylesheet" href="{{ '/assets/css/carbonads.css' | absolute_url }}">
<link rel="stylesheet" href="{{ '/assets/css/main.css' | absolute_url }}">

<!--[if lte IE 9]>
  <style>
    /* old IE unsupported flexbox fixes */
    .greedy-nav .site-title {
      padding-right: 3em;
    }
    .greedy-nav button {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
    }
  </style>
<![endif]-->

{% if site.head_scripts %}
  {% for script in site.head_scripts %}
    {% if script contains "://" %}
      {% capture script_path %}{{ script }}{% endcapture %}
    {% else %}
      {% capture script_path %}{{ script | absolute_url }}{% endcapture %}
    {% endif %}
    <script src="{{ script_path }}"></script>
  {% endfor %}
{% endif %}
